.popup__input-container {
  width: 100%;
  padding-bottom: 37px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .popup__input-container {
    max-width: 238px;
    width: 100%;
    
  }
}