.popup__input-container {
  width: 100%;
  padding-bottom: 34px;
  background-color: #FFFFFF;
  flex-direction: column;
  border-radius: 9%;
}

@media screen and (max-width: 600px) {
  .popup__input-container {
    max-width: 238px;
    width: 100%;
  }
}