.profile__subtitle {
  max-width: 400px;
  line-height: 22px;
  margin: 10px 0;
  color: #fff;
  font-family: "Inter","Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: subtitle;
}

@media screen and (max-width: 900px) {
  .profile__subtitle {
    margin: 8px 0 32px 6px;
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
    text-align: center;
  }
}