.profile {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
}

@media screen and (max-width: 1024px) {
  .profile {
    margin: 40px 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 30px 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}