.popup__button-res {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../image/btn__close.svg);
  border: 0;
  background-color: transparent;
}

.popup__button-res:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 767px) {
 .popup__button-res {
   width: 20px;
   height: 20px;
   background-size: cover;
   top: -35px;
   right: -3px;
 }
}