.popup__heading {
  max-width: 330px;
  line-height: 29px;
  font-family: "Inter", "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin: 0 36px;
  padding-top: 34px;
  padding-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .popup__heading {
    line-height: 22px;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 75px;
    margin: 0 14px;
  }
}