.elements {
  display: grid;
  grid: repeat(2, 361px) / repeat(3, 282px);
  gap: 20px 17px;
  margin: 51px auto 0;
}

@media screen and (max-width: 1025px) {
  .elements {
    margin: 36px auto 0;
    margin-left: 66px;
    margin-right: 66px;
  }
}