.form__text {
  width: 358px;
  padding: 0;
  margin-bottom: 30px;
  opacity: 0.3;
  border: none;
  border-bottom: 1px solid #000000;
}

.form__text:last-of-type {
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
  .form__text {
    width: 239px;
  }
}