.popup__input-span-error {
  display: block;
  visibility: hidden;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  height: 3px;
  line-height: 15px;
  color: #FF0000;
  margin-left: 35px;
  margin-top: 5px;
}
