.form__container {
  width: 362px;
  border: none;
  margin: 0 auto 30px;
  padding: 0;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form__container:last-of-type {
  margin-bottom: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .form__container {
    width: 238px;
    margin: 0 22px;
    padding-bottom: 9px;
  }
}